{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "createDefaultProgram": true,
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "react",
    "react-hooks",
    "cypress"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "plugin:react-hooks/recommended",
    "plugin:cypress/recommended"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "no-undef": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/import-index": "off"
  },
  "env": {
    "cypress/globals": true
  }
}
