name: Release
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Playwright
        uses: microsoft/playwright-github-action@v1

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Unit tests
        run: yarn test:unit --ci --coverage

      - name: Build
        run: yarn build

      - name: E2E tests
        run: yarn test:e2e --forceExit

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
    env:
      CI: true

  release:
    needs: test
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Setup bit.dev
        run: |
          yarn bit config set analytics_reporting false
          yarn bit config set error_reporting false
          yarn bit config set user.token $BIT_TOKEN
          yarn bit config
          yarn bit -v && bit import
          yarn bit status
        env:
          BIT_TOKEN: ${{ secrets.BIT_TOKEN }}

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn semantic-release
